doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator' content='Hugo 0.79.0')
    title CAIC
    
    // Bootstrap core CSS
    link(href='css/bootstrap5.min.css' rel='stylesheet')

    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='css/signin.css' rel='stylesheet')
  body.text-center
    main.form-signin
        form(method='POST')
            img.mb-4(src='img/logo.png' alt=''  height='80')
            h1.h3.mb-3.fw-normal #{messages.error}
            label.visually-hidden(for='inputEmail') Username
            input#inputEmail.form-control(type='text' placeholder='Username' required='' autofocus='' name="username")
            label.visually-hidden(for='inputPassword') Password
            input#inputPassword.form-control(type='password' placeholder='Password' required='' name="password")
            button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
            p.mt-5.mb-3.text-muted © 2017-2020
