nav {
    border-radius: 10px;
    margin-top: 6px;
}

nav .prev form{
    display: flex;
    justify-content: flex-end;
}


.navbar-brand {
    padding-left: 0;
}

.motorinfo{
    margin-top: 15px;
}

.pmcontent{
	display: flex;
}

.pmcontent .radio{
	width: 33%;
}

.powerrbset{
	display: flex;
    margin: 0;
}

.powerrbset .radio{
	margin-right: 10px;
}

.text-muted{
	cursor: pointer;
}

.delmotor svg {
    color: red;
}
.motorcount2{
    display: none;
}

.form-check.form-inline{
    padding: 0;
}

.form-check.form-inline select{
    margin-left: 5px;
}

.gencard
{
    margin-bottom: 16px;
}

.gencard .card-body
{
    max-height: 10px;
    display: flex;
    align-items: center;
}

#addmisc, #delmisc
{
    margin-top: 10px;
    margin-right: 10px;
}

.mainmotor 
{
    display: flex;
}

.mainmotor h2, .closepane
{
    width: 50%; 
}

.closepane{
    display: flex;
    justify-content: flex-end;
}

.acce-parent
{
    width: 25%;
}

.table td, .table th {
    padding: 6.5px;
}